* { margin:0; padding:0; outline:0 }
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
li { list-style-type:none; }

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid {
	padding-left:20px;
}

body { background-color: #3a3a3a; color:#fff; font-family:'Roboto Condensed'; font-size:14px; }

#action-center { background-color:#000; padding:0 20px; }
#action-center > div { display:none; padding:1em 0; overflow:hidden; }
#action-center a { color:aquamarine; }
#action-center input { padding:4px 6px; background-color:#818181; color:#fff; border:1px solid #ccc; border-radius:3px; }
#action-center button { background-color:#606060; color:#ccc; padding:4px 6px; border:1px solid #ccc; border-radius:3px; }

#nav-tabs { height:44px; background-color:#282727; }

#tabs > div { display:none; }

#tabs > div.active-tab { display:block; }

#nav-tabs li { display:inline-block; }
#nav-tabs li.active-tab { border-bottom:3px solid #5a644e; }
#nav-tabs li a { color:#fff; text-decoration: none;	padding:0 12px;	line-height:41px; }
#nav-tabs li.active-tab a {	color:#606060; }

.commlist > li { border-bottom:1px solid #000; border-top:1px solid #818181; padding:0 20px; }
.commlist > li:nth-child(odd) { background-color:#3d4138; }
.commlist > li .brief { height:44px; line-height: 44px; overflow:hidden; }
.commlist > li .brief span { float:right; }
.commlist > li .meta { display:none; border-top:1px solid #818181; padding:1em 0; }


/* STATUS BAR */
#status-bar { position:fixed; bottom:0; left:0; width:100%; min-height:30px; border-top:3px solid #000; }
#status-bar > .grid { border-top:1px solid #808080; }